body{
    background-color: #1b1e29;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --cell-size: 150px;
}


h1{
    color: white;
    font-size: 3em;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
}

.game-board{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.board-cell{
    border: white solid 1px;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 7em;
    text-align: center;
    color: white;
}

.board-cell:hover{
    background-color: rgb(58, 98, 133);
}

.btn{
    font-size: 18px;
    color: white;
    padding: 12px 18px;
    background-color: black;
    border: none;
    border-radius: 8px;
    margin-top: 40px; 
}

.btn:hover{
    background-color:  rgb(58, 98, 133);
    transform: scale(1.1);
}

.credits{
    margin-top: 60px;
    color: gray;
    font-style: italic;
}

h5 a{
    color: lightblue;
    
}

@media screen and (max-width: 500px) {
    :root {
        --cell-size: 100px;
    }
    .game-board{
        height: 360px;
        width: 360px;
    }

    .board-cell{
        border: white solid 1px;
        width: var(--cell-size);
        height: var(--cell-size);
        font-size: 80px;
    }
}
